<div class="card-body">
  <form class="was-validated" #productForm="ngForm">
    <!-- lay id de update -->
    <input type="hidden" name="id" [value]="typeId" [(ngModel)]="brandForm.id" />
    <div class="form-group">
      <label class="form-col-form-label" for="inputError2">NAME</label>
      <input [ngClass]="{
            'is-invalid':
            ngname.invalid && (ngname.dirty || ngname.touched)
          }" type="text" class="form-control" id="inputError2" required name="name" #ngname="ngModel"
        [(ngModel)]="brandForm.name">
      <div class="valid-feedback">
        Input is valid.
      </div>
      <div class="invalid-feedback">
        Please provide a valid information.
      </div>
    </div>
  </form>
</div>
<div class="card-footer">
  <button [disabled]="productForm.value ==''" (click)="onSubmit(productForm.value)" type="submit"
    class="btn btn-sm btn-primary" style="margin-right: 5%;"><i class="fa fa-dot-circle-o"></i> Submit</button>
  <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
</div>